:root {
    --header-color: #212121;
    --title-color:#212121;
    --text-color:#757575;
    --btn-color:#2196F3;
    --second-title-color:#FFFFFF;
    --logo-colar:#2196F3;
    --header-link-color:#757575;
    --second-btn-color:#212121;
}

body{
font-family: 'Roboto', sans-serif;
color: #212121;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
                                          /*header*/
.logo {font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-colar);}
    .logo-accent {
        color: black;
    }
  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--header-color);
  }
  .header-mail {
      
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--header-link-color);
  }
  .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--header-link-color)
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--btn-color);
  }
  .header-mail:hover,
  .header-mail:focus {
    color: var(--btn-color);
  }
  .header-tel:hover,
  .header-tel:focus {
    color: var(--btn-color);
  }

  .business-btn:hover,
  .business-btn:focus {
    background: var(--btn-color);
  }
  .main-btn:hover,
  .main-btn:focus {
    background: var(--btn-color);
  }
  .footer-link-place:hover,
  .footer-link-place:focus {
    color: var(--btn-color);
  }
  .footer-mail:hover,
  .footer-mail:focus {
    color: var(--btn-color);
  }
  .footer-tel:hover,
  .footer-tel:focus {
    color: var(--btn-color);

  }
                                         /*main*/
.main-title {
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
color:var(--second-title-color);

}
  .business-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }   
  .option-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--title-color);
  } 
  .option-iyem-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }     
  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
    color: var(--title-color);
  }   
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    
  }  
  .hero-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--title-color);
  }     
  .hero-work {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }   
                                    /*footer*/
   .footer-link-place {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--second-title-color);
   }
   .footer-mail {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
   }
   .footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
   }              
  


                            /*main-portfolio*/
  .main-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    
    color: var(--second-btn-color);
  }  
  .box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    
    color: var(--title-color);
    
  }                                                   
  .box-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
  }    
  address {
      font-style: normal;
  }
  